html {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
    width: 400px;
    flex-direction: column;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(44, 44, 44);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.display {
    background-color: lightgray;
    height: 100px;
    width: 400px;
    margin-bottom: 15px;
    
}
.clear {
    width: 100px;
}

.button-container button {
    width: 100px;
    text-align: center;
    background-color: rgb(117, 248, 215);
    height: 100px;
    border-color: rgb(54, 38, 52);
    font-size: 20px;
}

#equals-button {
    width: 200px;
    background-color: rgb(115, 255, 115);
}
#equals-button:hover {
    background-color: rgb(173, 173, 173);
}

div .operator {
    background-color: rgb(251, 137, 223);
}

div .clear {
    background-color: rgb(230, 116, 116);
    width: 200px;
}

div .delete {
    background-color: rgb(235, 248, 121);
}

div .plus-minus {
    background-color: rgb(138, 226, 253);
}

#display-text {
    padding: 10px;
    padding-top: 5px; 
    font-size: 30px;  
}

.button-container button:hover {
    background-color: rgb(173, 173, 173);
    cursor: pointer;
}