html {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
    width: 400px;
    flex-direction: column;
    border-style: solid;
    border-width: 15px;
    border-color: lightslategray;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.display {
    background-color: lightgray;
    height: 100px;
    width: 400px;
    margin-bottom: 15px;
}
.clear {
    width: 100px;
}

.button-container button {
    width: 100px;
    text-align: center;
    background-color: rgb(138, 180, 197);
    height: 100px;
    border-color: rgb(105, 105, 163);
}

#equals-button {
    width: 200px;
}